table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th,
tr {
  border: 2px solid #c7b6b6;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
.btnFavorito{
  width: 300px;
}

.btnDetalle, .btnDelete{
  margin-left: 70px;
}

