.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 400px;
  height: 240px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 0.5px #e0e0e0;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.actionButton {
  background-color: #ccc;
  color: white;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  margin-top: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  float: right;
}

.actionButton:hover {
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.empty:hover {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}

.actionButtonClose {
  background-color: white;
  color: black;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  margin-top: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.actionButtonClose:hover {
  border: 1px solid #e10050;
  background-color: #e10050;
  color: white;
}

.modal-h4 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.modal-name {
  width: 100%;
  height: 45px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.containerModal {
  padding: 0 40px 0 40px;
  justify-content: center;
  align-items: center;
}
